.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    transition: all 0.35s ease;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 12px
}

.card img{
    height: 200px;
    object-fit: cover;
}

.card .details {
    padding: 1rem;
}

.card .details .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .details .upper h3 {
    color: var(--vibe-color);
    font-size: 16px;
}

.card .details .upper p {
    border: 2px solid var(--vibe-color);
    padding: 2px 12px;
    font-size: 12px;
    font-weight: 300;
    border-radius: 12px;
    color: white;
    background-color: var(--vibe-color);
}

.card .details .middle {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.card .details .middle h2 {
    font-size: 1.4rem;
    padding: 0.8rem 0;
}

.card .details .middle p {
    font-size: 1rem;
}

.card .details .lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.card .details .lower p {
    font-size: 1.2rem;
}

.card .details .lower a {
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    background: var(--gradient-button);
}